<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="{% static 'js/index.js' %}"></script>
  </head>
  <body>
    <h1>The Crawl</h1>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>

